# Build artifacts
bin/
lib/
doc/
*.obj
*.pch
*.exe
*.dll
*.lib
*.exp
*.log


# Visual Studio
.vs/
*.sdf
*.opensdf
*.suo
*.VC.db
*.vcxproj.user

# Backup files
*~
*.bak

# OS junk
Thumbs.db
.DS_Store

# CMake (if you ever use it)
build/
CMakeFiles/
CMakeCache.txt

#System Files
System Volume Information/
$RECYCLE.BIN/
